body {
    margin: 0;
    overflow: hidden;
}

.quadrado {
    width: 500px;
    height: 500px;
    background-color: rgb(38, 0, 255);

    position: absolute;
    top: 0;
    left: 0;
    transition: transform 3s ease-in-out;
}
.eu{
    src: format(format);
}